<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' renderer-index.js 'unsafe-inline'">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <link rel="stylesheet" href="../css/style.css">
    
    <title>Sports Predictive Algorithms Platform</title>

</head>
<body>
    <div class="row">
        <div class="col-4" id="left">
            <button class="btn btn-primary" onclick="goStart()">Home</button>
            <button class="btn btn-primary" onclick="chargeResult()">Charge Saved Results</button>
            <button class="btn btn-primary" onclick="chargeConfig()">Charge Saved Configurations</button>
            <ul class="algorithms list-unstyled mb-0 mt-2">
            </ul>
        </div>
        <div class="col-8 descriptions_section" id="right">
            <div class="d-flex descriptions">
                    <div class="card">
                        <div class="card-body">
                            Welcome to the Sport Predictive Platform. 
                            Here, the user has access to some predictive algorithms from 
                            the Artificial Intelligence Research Group at the University of 
                            Havana. The user can interact and use these projects to make 
                            predictions. To do so, select one from the left section and then 
                            click the select button.
                        </div>
                    </div>
            </div>
        </div>
    </div>

<script src = "renderer-index.js"> </script>
</body>
</html>