@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";


#left
{
    background-color:white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
}

#right
{
    background-color:lightskyblue;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    overflow-y: auto;
}

.search .card
{
    background-color: lightskyblue;
    border: lightskyblue;
}

.descriptions
{
    margin-top: 12px;
}

.descriptions .card
{
    margin-top: 12px;
    width: -moz-fit-content;
    width: fit-content
}

.search_section {
    margin-top: 12px;
}


.modalities .btn-primary{
    margin-right: 4px;
    margin-top: 4px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.modalities .btn-secondary{
    margin-right: 4px;
    margin-top: 4px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.modalities .btn-outline-dark{
    margin-right: 4px;
    margin-top: 4px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.search_section .btn-outline-dark{
    margin-right: 4px;
    margin-top: 4px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #b3b2b2;
}

.selector select option:hover{
    color: rgb(21, 172, 231);
    background-color: black;

}

.selector select{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: cursive, sans-serif;
    outline: 0;
    background: silver;
    color: black;
    border: 1px solid rgb(21, 172, 231);
    padding: 4px ;
    border-radius: 9px;
}

.selector label{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.selector input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.selector .btn-outline-dark{
    background-color: silver;
    margin-right: 4px;
    margin-top: 4px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.btn-primary{
    margin-right: 4px;
    margin-top: 4px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.btn-secondary{
    margin-right: 4px;
    margin-top: 4px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.btn-outline-dark
{
    margin-right: 4px;
    margin-top: 4px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: silver;
}

.container{
    position: relative;
    text-align: center;
}

.switch
{
    position: relative;
    display: inline-block;
    width: 90px;
    height: 40px;
    margin: 0 10px;
}

.slider
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 24px;
}
.switch input {display: none;}

.slider::before{
    position: absolute;
    content: '';
    height: 30px;
    width: 30px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50px;
}

input:checked + .slider{
    background-color: #200;
}

input:checked +.slider::before
{
    transform: translateX(50px);
}

