<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' renderer-main.js 'unsafe-inline'">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/football.css">
    <title>Type of Simulation Selector</title>


</head>
<body onload="comunication()">
    <div class="row">
        <div class="col-2" id="left">
            <button class="btn btn-primary" onclick="goStart()">Back</button>
            <button class="btn btn-primary" onclick="showScrapper()">Data Colector</button>
            <button class="btn btn-primary" onclick="showEditor()">Futbol Simulator Editor</button>
            <ul class="modalities list-unstyled mb-0 mt-2">
            </ul>
        </div>
        <div class="col-10 descriptions_section" id="right">
            <div class="d-flex descriptions">
                    <div class="card">
                        <div class="card-body">
                            Here are the different modes to simulate the selected project. When you select one of the modes in the left section, fill in all the required parameters properly before executing.
                        </div>
                    </div>
            </div>
        </div>
    </div>
<script src= "renderer-main.js">
    </script>
</body>
</html>